_ide_helper_models.php
_ide_helper.php
.DS_Store
.env.*
.phpstorm.meta.php
.phpunit.result.cache
*.log
*.key
*.md
/.git
/.github
/.idea
/.pnpm-store
/.vscode
/.zed
/app
/containers/systemd
/docs
/node_modules
/tests
/vendor
npm-debug.log
Thumbs.db
