[Unit]
Description=Spotweb container
Requires=spotweb-mariadb.container

[Container]
Image=spotweb.build
AutoUpdate=local
Network=spotweb.network
Network=proxy.network
ExposeHostPort=8080

[Service]
EnvironmentFile=%h/.config/containers/systemd/spotweb/config/app.env
Restart=always
RestartSec=5
TimeoutStartSec=90
TimeoutStopSec=30
