[Unit]
Description=Spotweb container
Requires=spotweb-mariadb.service

[Container]
Image=spotweb.build
AutoUpdate=local
LogDriver=none
UserNS=keep-id
Network=spotweb.network
PublishPort=8080:8080

[Service]
EnvironmentFile=%h/.config/containers/systemd/spotweb/config/app.env
Restart=always
RestartSec=5
TimeoutStartSec=90
TimeoutStopSec=30
