[Unit]
Description=MariaDB container

[Container]
Image=docker.io/library/mariadb:latest
AutoUpdate=registry
EnvironmentFile=%h/.config/containers/systemd/spotweb/config/mariadb.env
ShmSize=100m
Volume=spotweb-mariadb:/var/lib/mysql:rw,Z,U
Network=spotweb.network
ExposeHostPort=3306

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=90
TimeoutStopSec=30
