[Unit]
Description=Spotweb container
Requires=spotweb-app.service
After=spotweb-app.service

[Service]
EnvironmentFile=%h/.config/containers/systemd/spotweb/app.env
TimeoutStartSec=900
Restart=always

[Container]
Image=localhost/spotweb-nginx:latest
AutoUpdate=local
PodmanArgs=--cpus=1
Volume=${APP_PATH}:/app:ro,z
EnvironmentFile=%h/.config/containers/systemd/spotweb/nginx.env
User=${APP_UID}
Group=${APP_GID}
UserNS=keep-id:uid=${APP_UID},gid=${APP_GID}
Network=spotweb.network
Network=traefik.network
Label=traefik.enable=true
Label=traefik.http.routers.spotweb.entrypoints=websecure
Label=traefik.http.routers.spotweb.tls=true
Label=traefik.http.routers.spotweb.rule="Host(`spotweb.lan`)"
Label=traefik.http.services.spotweb.loadbalancer.server.port="8080"

[Install]
WantedBy=multi-user.target default.target
