[Unit]
Description=Spotweb container
Requires=spotweb-mariadb.service spotweb-app.service
After=spotweb-mariadb.service spotweb-app.service

[Service]
EnvironmentFile=%h/.config/containers/systemd/spotweb/app.env
Restart=always

[Container]
Image=localhost/spotweb-nginx
Volume=${APP_PATH}:/app:ro,z
User=${APP_UID}
Group=${APP_GID}
UserNS=keep-id:uid=${APP_UID},gid=${APP_GID}
HostName=spotweb.lan
Network=spotweb.network
PublishPort=8002:8080
Label=traefik.enable=true
Label=traefik.http.routers.spotweb.entrypoints=websecure
Label=traefik.http.routers.spotweb.tls=true
Label=traefik.http.routers.spotweb.rule=Host'(`spotweb.lan`)'
Label=traefik.http.services.spotweb.loadbalancer.server.port="8080"

[Install]
WantedBy=multi-user.target default.target
