[Unit]
Description=App container
Requires=spotweb-mariadb.service
After=spotweb-mariadb.service

[Service]
EnvironmentFile=%h/.config/containers/systemd/spotweb/app.env
TimeoutStartSec=900
Restart=always

[Container]
Image=localhost/spotweb-app:latest
AutoUpdate=local
PodmanArgs=--cpus=2
User=${APP_UID}
Group=${APP_GID}
UserNS=keep-id:uid=${APP_UID},gid=${APP_GID}
Volume=${APP_PATH}:/app:rw,z,U
Network=spotweb.network
ExposeHostPort=9000

[Install]
WantedBy=multi-user.target default.target
