[Unit]
Description=Spotweb container
Requires=spotweb-app.service
After=spotweb-app.service

[Container]
Image=localhost/spotweb-nginx:latest
AutoUpdate=local
LogDriver=none
User=${UID}
Group=${UID}
UserNS=keep-id:uid=${UID},gid=${GID}
Volume=${APP_PATH}:/app:ro,z
Network=caddy.network
Network=spotweb.network
ExposeHostPort=8000
ExposeHostPort=8080

[Service]
EnvironmentFile=%h/.config/containers/systemd/spotweb/app.env
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target
