[Unit]
Description=App container
Requires=spotweb-mariadb.service
After=spotweb-mariadb.service

[Container]
Image=localhost/spotweb-app:latest
AutoUpdate=local
LogDriver=none
User=${UID}
Group=${UID}
UserNS=keep-id:uid=${UID},gid=${GID}
Volume=${APP_PATH}:/app:rw,z,U
Network=spotweb.network
ExposeHostPort=9000

[Service]
EnvironmentFile=%h/.config/containers/systemd/spotweb/app.env
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target
