[Unit]
Description=Spotweb on-demand proxy
Requires=spotweb.service spotweb-ondemand.socket
After=spotweb.service spotweb-ondemand.socket

[Service]
# Forwards connections to Spotweb, starting it first. Exits after 10 minutes
# without connections, after which Spotweb and MariaDB stop too.
ExecStart=/usr/lib/systemd/systemd-socket-proxyd --exit-idle-time=10min 127.0.0.1:18000
